@use '../utilities/variables';
@use'../utilities/mixins';

.main-footer {
  @include mixins.flexy($just: space-around);
  background: variables.$color-primary;
}

.main-footer p {
  @include mixins.nav-font;
  color: variables.$white;
}

.main-footer a {
  @include mixins.nav-font;
  &:hover {
    color: variables.$color-hover;
  }
}

.footer-flex {
  margin-top: 2em;
  @include mixins.flexy($just: space-between);
  border-top: 1px solid rgba(0,0,0,.4);
}

.indy-flex-1,
.indy-flex-2 {
  @include mixins.flexy($dir: column);
  margin-top: 1em;
  margin-bottom: 1em;
}

.indy-flex-1 p {
text-align: left;
font-size: .8rem;
}

.indy-flex-2 p {
  text-align: right;
  font-size: .8rem;
}