@use 'variables';
// Create Flex container
@mixin flexy(
  $disp: flex,
  $dir: null,
  $wrap: null,
  $just: null,
  $align: null,) {
  display: $disp;
  flex-direction: $dir;
  flex-wrap: $wrap;
  justify-content: $just;
  align-items: $align;
  }
          
// Media Queries
@mixin mq($break) {
$value: map-get(variables.$breakpoints, $break);
$sm: map-get(variables.$breakpoints, 'sm');            
            
  @if $value < $sm {
    @media (max-width: $value) {
      @content;       
    }
  } 
  @else {
    @media (min-width: $value) {
      @content;        
    }
  } 
 }

 // Hover Effect
 @mixin hover($btn-color) {
  &:hover {
    background-color: lighten($btn-color, 15%);
  } 
}

// Navigaton font
@mixin nav-font {
  font-family: variables.$font-stack-secondary;
  font-weight: 600;
  text-transform: uppercase;
  @content;
}

// Navigation styles
@mixin nav-style {
  background-color: variables.$color-primary;
  position: fixed;
  padding: 0;
  margin-top: 0;
  width: 100%;
  z-index: 4000;
  top: 0;
  @content;
}

// background image height
@mixin image-height {
  height: variables.$bg-height;
  margin-top: ems(37);
  @include mq(med) {
    margin-bottom: 1em;
    height: variables.$bg-height-med;
    padding: 0;
  }
  @include mq(lg) {
    height: variables.$bg-lg-height;
  }
  @include mq(x-lg) {
    height: variables.$bg-xl-height;
  }
}

@mixin btn-style {
  cursor: pointer;
  background: variables.$color-btn;
  font-weight: 600;
  letter-spacing: 1px;
  padding: .6125em;
  border-radius: 0 .625em 0 .625em ;
  transition: all .5s ease-out;
  @content;
}