doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

    link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Permanent+Marker&family=Roboto&display=swap")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet" href="css/styles.css")
    link(rel="stylesheet" href="css/baguetteBox.min.css")
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    header 
      include nav/mobile_nav
      include nav/main_nav
      block content

    main 
      block main
      include footer/footer_info.pug

    include footer/main_footer.pug

    script(type="text/javascript" src="/javascripts/scripts.js")
   
 
