doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Permanent+Marker&family=Roboto&display=swap")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet" href="/stylesheets/style.css")
    link(<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css")
    link(rel='apple-touch-icon' sizes='180x180' href='/apple-touch-icon.png')
    link(rel='icon' type='image/png' sizes='32x32' href='/favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='16x16' href='/favicon-16x16.png')
    link(rel='manifest' href='/site.webmanifest')
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    header 
      include nav/mobile_nav
      include nav/main_nav
      block content

    main 
      block main
      include footer/footer_info.pug

    footer.main-footer
      include footer/main_footer.pug
    
    script(type="text/javascript" src="/javascripts/scripts.js")
    block script
  
 
