li 
  a(href='/home') Home 
li  
  a(href='/about') About
li  
  a(href='/activities') Activities
li  
  a(href='/hotels') About
li  
  a(href='/gallery') Gallery
li  
  a(href='/subscribe') Subscribe