li 
  a(href='/indianapolis') Home 
li  
  a(href='/indianapolis/about') About
li  
  a(href='/indianapolis/activities') Activities
li  
  a(href='/indianapolis/stay') Stay
li  
  a(href='/indianapolis/gallery') Gallery
li  
  a(href='/indianapolis/subscribe') Subscribe