@use '../utilities/variables';
@use'../utilities/mixins';

/* Accordion ------------------ */

.tab {
  &-p {
  background: variables.$complement;
  color: variables.$white; 
  border-radius: 3px;
  cursor: pointer;
  display: block;
  font-weight: bold;
  line-height: 3;
  margin-bottom: 0.5em;
  padding-left: 0.5em; 
  transition: letter-spacing 0.55s;
  &:hover{ 
    @include mixins.hover(variables.$complement);
    letter-spacing: 1px; 
  }
  }
	&-group {
		margin: 1em auto 0;
		max-width: 40em;
		width: 100%;
	}
	&-content {
		max-height: 0;
		overflow: hidden;
		transition: all 0.35s;
		p {
			margin: 1em 0;
      opacity: 0;
		}
	}
}

/* open the tab when label is checked */

.tab-clicked { 
	max-height: 14.25em;
  background-color: variables.$color-bg;
  transition: all 0.35s;
  p {
    margin: 1em 0;
    color: variables.$color-text;
    opacity: 1;
  }
	@include mixins.mq(med) {
		max-height: 6.25em;
	}
}









