
.banner {
  height: $bg-height;
  background: linear-gradient(rgb(39, 161, 202), rgb(12, 12, 187)),
  url('../images/city.jpg') $image-placement;
  background-blend-mode: soft-light;
  margin-top: ems(37);
  background-position: top;
  @include mq(med) {
    margin-bottom: 1em;
    height: $bg-height-med;
  }
  @include mq(lg) {
    height: $bg-lg-height;
    background-position: center top;
  }
  @include mq(x-lg) {
    height: $bg-xl-height;
  }
}

 .mlk {
  height: $bg-height;
  background: url('../images/parks.jpg') $image-placement;
  margin-top: ems(37);
  @include mq(med) {
    margin-bottom: 1em;
    height: $bg-height-med;
    padding: 0;
  }
  @include mq(lg) {
    height: $bg-lg-height;
  }
  @include mq(x-lg) {
    height: $bg-xl-height;
  }
}

.racetrack {
  height: $bg-height;
  margin-top: ems(37);
  background: linear-gradient(#ff0101, transparent 90%), 
              linear-gradient(to right, $white, transparent),
              orange url('../images/indy-500.jpg') $image-placement;
  @include mq(med) {
    margin-bottom: 1em;
    height: $bg-height-med;
  }
  @include mq(lg) {
    height: $bg-lg-height;
  }
  @include mq(x-lg) {
    height: $bg-xl-height;
  }
}

.hotels {
  height: $bg-height;
  margin-top: ems(37);
  background: 
    linear-gradient(cyan, transparent),
    linear-gradient(225deg, magenta, transparent),
    linear-gradient(45deg, red, transparent),
    url('../images/skyline.jpg') $image-placement;
  @include mq(med) {
    margin-bottom: 1em;
    height: $bg-height-med;
    padding: 0;
  }
  @include mq(lg) {
    height: $bg-lg-height;
  }
  @include mq(x-lg) {
    height: $bg-xl-height;
  }
}

.brochure {
  height: $bg-height;
  background: radial-gradient(rgba(223, 223, 0, 0.5), rgba(58, 58, 255, 0.5)), url('../images/bridge.jpg') $image-placement;
  background-blend-mode: lighten;
  padding-right: 1em;
  padding-left: 1em;
  margin-top: ems(37);
  @include mq(med) {
    margin-bottom: 1em;
    height: $bg-height-med;
  }
  @include mq(lg) {
    height: $bg-lg-height;
  }
  @include mq(x-lg) {
    height: $bg-xl-height;
  }
}

