@use '../utilities/variables';
@use'../utilities/mixins';

.btn {
  @include mixins.btn-style {
    display: block;
    width: 90%;
    margin: 0 auto;
  }
  @include mixins.hover(variables.$color-btn);
  @include mixins.mq(med) {
    margin: auto auto 0;
  }
  &-photo {
    @include mixins.btn-style {
      padding: 1.2em;
    }
    @include mixins.hover(variables.$color-btn);
  }
}

