@use '../utilities/functions';
@use'../utilities/mixins';

.photo-gallery {
  @include mixins.mq(med) {
    margin: 0 auto;
    max-width: 595px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: functions.ems(20);
  }
  @include mixins.mq(lg) {
    max-width: 895px;
    grid-template-columns: repeat(3, 1fr);
  }
  div {
    margin-bottom: 1em;
    @include mixins.mq(med) {
      margin-bottom: 0;
    }
  }
}