@use '../utilities/functions';
@use '../utilities/variables';
@use'../utilities/mixins';

/* Table Styles */

caption {
  font-size: 1.3125rem;
  font-weight: 600;
  padding: .9em;
  @include mixins.mq(lg) {
    font-size: 2rem;
  }
}

table {
  margin: 0 auto 2em;
  border-radius: functions.ems(5);
  box-shadow: 0 functions.ems(5) functions.ems(3) functions.ems(2);
  color: rgb(34, 34, 34);
  @include mixins.mq(med) {
    width: 35em;
  }
}

thead > tr {
  background: variables.$color-table-blue;
}

th[scope="col"] {
  background-color: variables.$color-table-blue-dark;
  font-size: 1.125rem;
  @include mixins.mq(lg) {
    font-size: 1.3125rem;
  }
}

th {
  font-size: .9rem;
  padding: .3125em;
  @include mixins.mq(med) {
    padding: 1em 2em 1em 2em;
  }
} 

td[colspan="3"] {
  font-style: italic;
}

tr {
  height: 3em;
  background: variables.$color-table-grey;
  & > td {
    font-size: .8rem;
    padding: .3125em;
    @include mixins.mq(med) {
      padding: 2em;
    }
  }
  
}

tr:nth-child(2n+2) {
  background: rgb(136, 226, 230);
}