@use '../utilities/functions';
@use '../utilities/variables';
@use'../utilities/mixins';

* {
  box-sizing: border-box;
}

body {
  color: variables.$color-text;
  background: variables.$color-bg;
  margin: 0;
  padding: 0;
  font-family: variables.$font-stack-primary;
  text-align: center;
}

h1 {
  font-family: variables.$font-stack-headline;
  padding: 2.9em 1em 0 1em;
  margin-top: 0;
  color: variables.$white;
  text-shadow: 1px 3px 1px rgba(0,0,0,.4);
  font-size: 2em;
  @include mixins.mq(med) { 
      font-size: 3.2rem;
      padding: 2.4em 0 2.4em 0;
  }
  @include mixins.mq(lg) {
    font-size: 4rem;
  }
  @include mixins.mq(x-lg) {
    font-size: 5rem;
  }
  .brochure & {
    padding: 1.9em 1.6em 0 1.6em;
    @include mixins.mq(med) { 
      font-size: 3.2rem;
      padding: 2.4em 1em 0 1em;
    }
    @include mixins.mq(lg) {
      font-size: 4.2rem;
    }
    @include mixins.mq(x-lg) {
      font-size: 5rem;
    }
  }
}

.home-title {
  position: absolute;
  z-index: 1000;
  @include mixins.mq(med) {
    left: 8%;
    top: 10%;
  }
  @include mixins.mq(lg) {
    left: 10%;
  }
  @include mixins.mq(x-lg) {
    left: 8%;
  }
  @include mixins.mq(xxl) {
    left: 14%;
  }
 }

h2 {
  font-size: 1.3125rem;
  @include mixins.mq(lg) {
    font-size: 2rem;
  }
}

.sports h3{
  color: variables.$white;
  font-size: 1.6rem;
}

p {
  font-size: 1rem;
  line-height: 1.6;
  @include mixins.mq(lg) {
    font-size: 1.1rem; 
  }
  .footer-flex & {
    font-weight: bold;
  }
  .article & {
    text-align: justify;
    &:first-child::first-letter {
      float: left;
      font-size: functions.ems(40);
      padding: functions.ems(7) functions.ems(10);
      margin: functions.ems(2) functions.ems(5) 0 0;
      background: variables.$complement;
      color: variables.$white;
      line-height: 1;
      border-radius: functions.ems(2);
      // border: 1px solid $color-overlay-bg;
    }
  }
  .learn & {
    @include mixins.mq(med) {
      width: 90%;
      margin: 0 auto;
      padding-top: 1em;
    }
    @include mixins.mq(lg) {
      margin-top: 83px;
      padding: 0 2em 0;
    }
    // @include mq(x-lg){
    //   font-size: 1.1rem;
    // }
  }
  .orchestra & {
    max-width: 40em;
    text-align: justify;
    margin: 0 auto;
    &:first-child {
      padding-top: 1em;
      padding-bottom: 1em;
    }
  }
}

a {
  color: variables.$white;
  &:link {
    text-decoration: none;
  }
  &:active {
    color: rgb(255, 255, 155);
  }
  .indy-flex-1 & {
    color: variables.$color-primary;
  }
  .article p & {
    color: variables.$color-primary-light;
    text-decoration: underline;
  }
}



