.footer-flex
  .indy-flex-1
    p Indy Tourism
      br
      a(href="mailto:IndyInfo@gmail.com?subject=Hi%20There!") Indy@email.com
      br
      | 123-456-7890
  .indy-flex-2
    p 123 Washington St.
      br
      | Suite 456
      br
      | Indianapolis, IN 78910
