extends ../layout

block content
  .racetrack
    h1= title

block main 
  article.tips.clearfix
    p
      | Indianapolis has long been a sports tourism destination. Each year on Memorial Day weekend the
      | famous Indy 500 race is held at the Indianapolis Speedway. The city also has two professional 
      | sports franchises, the Colts and the Pacers, along with numerous minor-league franchises.
    div
      img(src="images/colts.jpg", alt="Indianapolis Colts sign in shape of a horseshoe that reads 'Believe!'")
    p
      | The NCAA keeps its head-quarters in Indy, and the NCAA Men&apos;s and Women&apos;s Divisional 
      | Champion-ships are frequently held here. The Indianapolis Convention Center is also a popular 
      | destination and each year holds the biggest gaming convention in North America:
      a(href="https://www.gencon.com/", target="_blank") GenCon
      | .
  .sports
    div
      h3
        a.sports-link(href="https://www.colts.com", target="_blank") Colts
      a(href="https://icons8.com/icon/65735/american-football", target="_blank")
        img(src="https://img.icons8.com/ios/100/000000/american-football.png")
    div
      h3
        a.sports-link(href="https://www.nba.com/pacers/", target="_blank") Pacers
      a(href="https://icons8.com/icon/65728/basketball-player", target="_blank")
        img(src="https://img.icons8.com/ios/100/000000/basketball-2.png")
    div
      h3
        a.sports-link(href="https://www.indianapolismotorspeedway.com/events/indy500", target="_blank") Indy 500
      a(href="https://icons8.com/icon/190/finish-flag", target="_blank")
        img(src="https://img.icons8.com/ios/100/000000/finish-flag.png")
    div
      h3
        a.sports-link(href="https://www.indyfuelhockey.com/", target="_blank") Indy Fuel
      a(href="https://icons8.com/icon/6344/hockey", target="_blank")
        img(src="https://img.icons8.com/ios/100/000000/hockey.png")
    div
      h3
        a.sports-link(href="https://www.milb.com/indianapolis", target="_blank") Indians
      a(href="https://icons8.com/icon/66957/baseball-player", target="_blank")
        img(src="https://img.icons8.com/ios/100/000000/baseball-player.png")
    div
      h3
        a.sports-link(href="https://www.indyeleven.com/", target="_blank") Indy Eleven
      a(href="https://icons8.com/icon/192/soccer", target="_blank")
        img(src="https://img.icons8.com/ios/100/000000/football.png")
