extends ../layout

block content
  .mlk
    h1= title

block main 
  .park-picture
    h2 Indy Parks
    figure
      img(src="../images/mlk.jpg", alt="Landmark for Peace Memorial in Dr Martin Luther King Jr Park")
      figcaption.rfk Landmark for Peace in Dr. Martin Luther King Jr. Park
  .orchestra
    p
      | Indy Parks and Recreation maintains 211 parks covering 11,254 acres (4,554 ha), 127 playgrounds, 155 sports 
      | fields, 135 miles (217 km) of trails, 23 recreation and nature centers, 23 spraygrounds, 20 aquatic centers, 
      | 13 golf courses, and four dog parks.
      br
      br
      | 
      | The department also provides 2,400 programs and classes annually. Indy has many beautiful parks to choose 
      | from and we hope you enjoy them!
    hr
    h2 Performing Arts
    p
      | Indianapolis has a rich history of performing arts, from its world-class symphony orchestra to its renowned
      | theatre companies. Below are a few major arts organizations in Indianapolis.
  .tab-group
    .tab 
      p.tab-p Indianapolis Symphony Orchestra
      .tab-content
        p
          | The Indianapolis Symphony Orchestra is a world-class symphony orchestra that is the largest performing
          | arts organization in Indiana. The ISO performs in Hilbert Circle Theatre and their music director is
          | Krzysztof Urbanski.
    .tab 
      p.tab-p Dance Kaleidoscope
      .tab-content
        p
          | Dance Kaleidoscope is Indiana&apos;s longest-dancing professional contemporary dance company since 1972, 
          | and is currently celebrating its 49th season. The professional ensemble consists of 14 talented dancers.
    .tab 
      p.tab-p Indianapolis Opera
      .tab-content
        p
          | Indianapolis Opera is an opera company in Indianapolis, Indiana. The only professional opera company 
          | in Indiana, it hosts a number of fully staged productions each season in addition to supporting a Young 
          | Artist Program.
    .tab 
      p.tab-p Indianapolis Repertory Theatre
      .tab-content
        p
          | Indiana Repertory Theatre is a professional regional theatre
          | that began as a genuine repertory theatre with its casts performing in multiple shows at once. 
          | It has subsequently become a regional theatre and a member of the League of Resident Theatres.
